{{ define "header" }} 
<div>
	<h1>
		<a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}" class="heading font-cursive icon">{{ .Site.Title }}</a>
	</h1>
</div>
<h2 class="pt-2">
	<i class="fas fa-bookmark"></i> {{- .Title -}}
</h2>
{{ partial "toc.html" . }}
<hr />{{ end }}
{{ define "main" }}
{{ $section := .Site.GetPage "section" .Section }}
<article>
	<section class="mx-auto content">
		<div class="c-rich-text">
			{{- .Content -}}
		</div>
	</section>
</article>{{ end }}
{{ define "aside" }} {{ partial "page-aside.html" . }} {{ end }}
{{ define "footer" }} {{ partial "page-footer.html" . }} {{ end }}