{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
<article>
	<h1>
		Ain't nobody here but us chickens.
	</h1>
	<div class="pt-4">404 not found.</br>
	Try &sect; Type, Search! &sect; on the Left.</div>	
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4945528698886553"
crossorigin="anonymous"></script>
<ins class="adsbygoogle"
style="display:block; text-align:center;"
data-ad-layout="in-article"
data-ad-format="fluid"
data-ad-client="ca-pub-4945528698886553"
data-ad-slot="2174653532"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</article>{{ end }}