{{ define "main" }}
{{ if isset .Site.Params "description" }}
<div class="font-serif text-medium-red-violet-400 pt-3 text-xl">
	<p>{{ .Site.Params.Description | markdownify }}</p>
	<br />
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4945528698886553"
	crossorigin="anonymous"></script>
	<ins class="adsbygoogle"
	style="display:block; text-align:center;"
	data-ad-layout="in-article"
	data-ad-format="fluid"
	data-ad-client="ca-pub-4945528698886553"
	data-ad-slot="2174653532"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<hr  class="pt-2"/> {{end}}
<div>
	<section>
		{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
		{{ range (.Paginate $pages 6).Pages }}<div>
			{{ partial "summary.html" . }}
		</div> {{ end }}
	</section>
</div> {{ end }}
{{ define "footer" }} {{ partial "list-footer.html" . }} {{ end }}