html {
  --background      : #adacac;
  --box-shadow      : #1b2701;
  --text            : #fff;
  --text-faded      : #080808;
  --badge-background: #e5e3b645;
  --badge-color     : #0b81d0;
}
.theme-dark {
  --background      : #fff;
  --box-shadow      : #ccc;
  --text            : #212121;
  --text-faded      : rgba(160, 174, 192, var(--tw-text-opacity));
  --tw-text-opacity : 1;
  --badge-background: rgba(0, 0, 0, 0.32);
  --badge-color     : #689e4b;
}