.fa,
.fas,
.fab {
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.fa-home {
  color: #3b5998;
}

.fa-bookmark {
  color: #c255b0;
}

.fa-info {
  color: #ff0000;
}

.fa-pen {
  color: #4285f4;
}

.fa-code-branch {
  color: #f94877;
}

.fa-paint-roller {
  color: #fbbc05;
}

.fa-copyright {
  color: #ea4335;
}

.fa-chevron-down {
  color: #fffc00;
}

.fa-calendar-alt,
.fa-calendar-day {
  color: #35465d;
}

.fa-book {
  color: #ff4500;
}

.fa-address-book {
  color: #a6b1b7;
}

.fa-tag,
.fa-tags {
  color: #ff9900;
}

.fa-th-list,
.fa-folder-open {
  color: #03a5f0;
}

.fa-rss {
  color: #f06d1b;
}

.fa-stopwatch {
  color: #6c4c49;
}

.fa-pencil-alt {
  color: #db4437;
}

.fa-angle-double-left {
  color: #df6d46;
}

.fa-angle-double-right {
  color: #52b1b3;
}

.fa-link {
  color: #34a853;
}

.fa-poo {
  color: #4a154b;
}

.fa-search {
  color: #ade21d;
}

.c-rich-text p {
  text-indent: 2rem;
}
.c-rich-text blockquote p {
  text-indent: 0;
}

.highlight pre {
  word-break: break-all;
}

#twitter-ic,
#twitter-ic:hover,
#twitter-ic:focus {
  color: #00aced !important;
}

#tumblr-ic,
#tumblr-ic:hover,
#tumblr-ic:focus {
  color: #35465d !important;
}

#instagram-ic,
#instagram-ic:hover,
#instagram-ic:focus {
  color: #c32aa3 !important;
}

#weibo-ic,
#weibo-ic:hover,
#weibo-ic:focus {
  color: #E6162D !important;
}

#facebook-ic,
#facebook-ic:hover,
#facebook-ic:focus {
  color: #3B5998 !important;
}

#github-ic,
#github-ic:hover,
#github-ic:focus {
  color: #333333 !important;
}

#gitlab-ic,
#gitlab-ic:hover,
#gitlab-ic:focus {
  color: #FC6D27 !important;
}

#fastSearch input {
  width: 100%;
  height: 2.5rem;
  padding-right:0.25rem;
  margin: 0 0 0.5rem -2rem;
  border: 0.125rem solid #ffaac2;
  border-radius: 0.5rem;
  outline: none;
  background: #e3f9da;
  color: #9E9C9C;
}

/* Media Queries */
@media (max-width: 1080px) {
  .toc {
      display: none;
  }
}