{{ if .Site.Params.disqusShortname }}
<div class="comments">
    <vue-disqus shortname="{{.Site.Params.disqusShortname}}"></vue-disqus>
</div>
<noscript><noscript>{{ i18n "comments_activate_js" }}</noscript></noscript>
<a href="https://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>{{ end }}
{{ if .Site.Params.enableWaline }}
<div class="comments">
  <div id="waline"></div>
  <script>
    Waline.init({
      el: '#waline',
      serverURL: 'https://comm.zhu8.net',
      visitor: true,
      pageview: true,
      imageUploader: false,
      avatar: 'robohash',
      uploadImage: false,
      placeholder: '欢迎留下您的足迹~~（昵称及邮件为必填项）',
      requiredMeta: ['nick', 'mail'],
      gif: false,
      emoji: [
      'https://zhu8.net/images/dora_gif/',
      'https://zhu8.net/images/ani_dora/',
      'https://zhu8.net/images/dora_emotion/',
      'https://zhu8.net/images/dora_sticker/',
      'https://zhu8.net/images/smilies/',      // 'https://unpkg.com/@waline/emojis@1.0.1/qq',
    ],
    });
  </script>
</div>{{ end }}