{{- $path := "" -}}
{{- with .File -}}
    {{- $path = .Path -}}
{{- else -}}
    {{- $path = .Path -}}
{{- end -}}
{{ if .GitInfo }}
    {{ if and .Site.Params.enablePostGitInfo (.Params.gitinfo | default .Site.Params.displayPostGitInfo) }}
      {{ if .Site.Params.displayEditLink }}
        {{ if not .Lastmod.IsZero }}
          <div id="gitinfo" class="a-gray text-sm text-gray-500 leading-tight pb-6">
            {{ with .Site.Params.repoEditURL }}{{ $contentDir := (cond $.Site.IsMultiLingual (printf `/%s/` $.Site.Params.contentDir) "/content/") }}
            <a href="{{ . }}{{ $contentDir }}{{ replace $path "\\" "/" }}" target="_blank" rel="nofollow noopener noreferrer" title="Edit Markdown File (Self Use Only!)"><i class="fas fa-pencil-alt"></i></a>{{ end }}LastMod:<em>{{ .Page.Lastmod.Format "2006-01-02" }}</em>&nbsp; {{ if .Site.Params.displayRAW }}{{ with .Site.Params.repoURL }}{{ $contentDir := (cond $.Site.IsMultiLingual (printf `/%s/` $.Site.Params.contentDir) "/content/") }}[<a href="{{ . }}{{ $contentDir }}{{ replace $path "\\" "/" }}" target="_blank" rel="nofollow noopener noreferrer" title="RAW Post in Markdown File.">{{- $.Site.Params.RAWText -}}</a>]{{ end }}{{ end }}{{- if $.Site.Params.gitRepo -}}{{- with $.GitInfo -}}[<a class="git-hash" href="{{ printf `%v/commit/%v` $.Site.Params.gitRepo .Hash }}" target="_blank" title="Commit by {{ .AuthorName }}: {{ .Subject }}"><i class="fas fa-hashtag fa-fw"></i>{{- .AbbreviatedHash -}}</a>]{{- end -}}{{- end -}}
          </div>
        {{ end }}
      {{ end }}
    {{ end }}
{{ end }}