{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script>
      //<![CDATA[
      (window.jQuery)||document.write('<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"><\/script>');//]]>
</script>
<script src="/assets/js/go-top.js"></script>
<script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>{{ end }}
{{ if .Site.Params.fuse }}<script src="https://cdn.staticfile.org/fuse.js/6.4.6/fuse.min.js"></script>
<script src="/lib/fastsearch.js"></script>
<!-- Default Statcounter code for 浮生志 https://zhu8.net -->
<script>
  var sc_project=941480; 
  var sc_invisible=1; 
  var sc_security="1460a243"; 
  </script>
  <script src="https://www.statcounter.com/counter/counter.js"></script>
  <noscript><div class="statcounter"><a title="Web Analytics Made Easy - Statcounter" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/941480/0/1460a243/1/" alt="Web Analytics Made Easy - Statcounter" referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
{{ end }}