{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
<script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
<script>
      //<![CDATA[
      (window.jQuery)||document.write('<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"><\/script>');//]]>
</script>
<script src="/assets/js/go-top.js"></script>
<script src="/assets/js/random-images.js"></script>
<script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>{{ end }}
{{ if .Site.Params.fuse }}<script src="/lib/fuse.min.js"></script>
<script src="/lib/fastsearch.js"></script>{{ end }}