<div class="font-medium text-xl flex flex-wrap-reverse">
  {{ with .Site.Params.Social.Twitter }}<a href="https://twitter.com/{{.}}" aria-label="Twitter"  title="View My Twitter"><i id="twitter-ic" class="fab fa-twitter" aria-hidden="true"></i></a>  {{ end }}
  {{ with .Site.Params.Social.Facebook }}<a href="https://facebook.com/{{.}}" aria-label="Facebook"  title="View My Facebook"><i id="facebook-ic" class="fab fa-facebook" aria-hidden="true"></i></a> {{ end }}
  {{ with .Site.Params.Social.Weibo }}<a href="https://weibo.com/{{.}}" aria-label="Weibo"  title="View My Weibo"><i id="weibo-ic" class="fab fa-weibo" aria-hidden="true"></i></a>  {{ end }}
  {{ with .Site.Params.Social.Github }}<a href="https://github.com/{{.}}" aria-label="Github"  title="View My GitHub"><i id="github-ic" class="fab fa-github" aria-hidden="true"></i></a>  {{ end }}
  {{ with .Site.Params.Social.Instagram }}<a href="https://instagram.com/{{.}}" aria-label="Instagram"  title="View My Instagram"><i id="instagram-ic" class="fab fa-instagram" aria-hidden="true"></i></a>  {{ end }}
  {{ with .Site.Params.Social.Tumblr}}<a href="https://{{.}}.tumblr.com" aria-label="Tumblr"  title="View My Tumblr"><i id="tumblr-ic" class="fab fa-tumblr-square" aria-hidden="true"></i></a>  {{ end }}
</div>