<div class="flex flex-wrap-reverse md:justify-end content-end md:content-start justify-start items-start md:flex-col  max-h-16">
  {{ with .Site.Params.Social.Twitter }}
  <a href="https://twitter.com/{{.}}" aria-label="Twitter" target="_blank"><i id="twitter-ic" class="fas fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Facebook }}
  <a href="https://facebook.com/{{.}}" aria-label="Facebook" target="_blank"><i id="facebook-ic" class="fas fa-facebook" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Weibo }}
  <a href="https://weibo.com/{{.}}" aria-label="Weibo" target="_blank"><i id="weibo-ic" class="fas fa-weibo" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Github }}
  <a href="https://github.com/{{.}}" aria-label="Github" target="_blank"><i id="github-ic" class="fas fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Instagram }}
  <a href="https://instagram.com/{{.}}" aria-label="Instagram" target="_blank"><i id="instagram-ic" class="fas fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Gitlab}}
  <a href="https://gitlab.com/{{.}}" aria-label="Gitlab" target="_blank"><i id="gitlab-ic" class="fas fa-gitlab" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Tumblr}}
  <a href="https://{{.}}.tumblr.com" aria-label="Tumblr" target="_blank"><i id="tumblr-ic" class="fas fa-tumblr-square" aria-hidden="true"></i></a>
  {{ end }}
</div>
