{{ $count := len .Site.Social}}
<div class="flex flex-wrap-reverse md:justify-end content-end md:content-start justify-start items-start {{if gt $count 4}}md:flex-col{{end}}  max-h-16">
  {{ with .Site.Params.Social.Twitter }}
  <a href="https://twitter.com/{{.}}" aria-label="Twitter" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Facebook }}
  <a href="https://facebook.com/{{.}}" aria-label="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Weibo }}
  <a href="https://weibo.com/{{.}}" aria-label="Weibo" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Github }}
  <a href="https://github.com/{{.}}" aria-label="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Instagram }}
  <a href="https://instagram.com/{{.}}" aria-label="Instagram" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Gitlab}}
  <a href="https://gitlab.com/{{.}}" aria-label="Gitlab" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
  {{ end }}
  {{ with .Site.Params.Social.Tumblr}}
  <a href="https://{{.}}.tumblr.com" aria-label="Tumblr" target="_blank"><i class="fa fa-tumblr-square" aria-hidden="true"></i></a>
  {{ end }}
</div>
