html {
    --background: #787777;
    --box-shadow: #1b2701;
    --text: #FFF;
    --text-faded: #080808;
    --badge-background: #e2ff82;
    --badge-color: #0B81D0;
}

.theme-dark {
    --background: #FFF;
    --box-shadow: #CCC;
    --text: #212121;
    --text-faded: rgba(160, 174, 192, var(--tw-text-opacity));
    --tw-text-opacity: 1;
    --badge-background: #bdbf9e;
    --badge-color: #689e4b;
}