RewriteEngine on
# Redirect Entire Site to New Domain
RewriteCond %{HTTP_HOST} ^zhu8.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.zhu8.net$ [NC]
RewriteRule ^(.*)$ https://leotrack.github.io/$1 [R=301,L]